<h1>KSLWatcher</h1>
<div id='intro' class='nice-box'>
  <p class='nice-box-header'>
    Welcome to the KSLWatcher!
  </p>

<div id='other-links' class='nice-box'>
  <%= link_to "Listings", listings_path %>
  <%= link_to "Searches", searches_path %>
</div>
